{% extends "budget/base_templates/base_menu.html" %}

{% load staticfiles %}
{% block own_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'budget/css/create_user.css' %}" />
{% endblock own_styles %}
{% block title %}Household Keeper - Personal settings{% endblock title %}
{% block confirmations %}
{% include "budget/base_templates/menu_confirmations.html" %}
{% endblock confirmations %}
{% block family_settings %}
{% include "budget/base_templates/family_settings_items.html" %}
{% endblock family_settings %} 
{% block main_content %}



<div class="main_content">
    <div class='title'><h2>Set your personal settings please</h2></div>
    <div class='error_message'>{{error_found}}</div>
    <form action="{% url 'budget:save' %}" method="post" id="user_form">
        {% csrf_token %}
        <table border="0">
                {% for field in form %}
                <tr class="main_row">                    
                    <th rowspan="2" width="35%">
                        {{field.label_tag}}
                    </th>
                    <td width="35%">
                        {{field.errors.as_ul}}
                    </td>
                </tr>
                <tr>
                    <td>
                                {{field.as_widget}}
                    </td>                    
                </tr>
                {% endfor %}            
            <tr>
                <td><input tabindex="19" autofocus="autofocus" type="Submit" value="Save" id="btnSubmit" title="Save Changes" class="myButton"></td>                                
            </tr>	
        </table
    </form>
</div> 
{% endblock main_content %}