{% extends "budget/base_templates/logged_in_user.html" %}

{% load staticfiles %}
{% block title %}Household Keeper > Personal Settings{% endblock title %}
{% block main_content %}
<div class="clearfix"></div>
<p class="home"><a href="{% url 'budget:main' %}">Home</a> > <strong> Personal Settings</strong></p>

<div class="main_content">
    <div class='title'><h2>Set your personal settings please</h2></div>
    <div class='error_message'>{{error_found}}</div>
    <form action="{% url 'budget:save_preferences' %}" method="post" class="ajax_form" name="save_personal">
        {% csrf_token %}
        <table border="0">
            {% for field in form %}
            <tr class="main_row">                    
                <th rowspan="2" width="35%">
                    {{field.label_tag}}
                </th>
                <td width="35%">
                    {{field.errors.as_ul}}
                </td>
            </tr>
            <tr>
                <td>
                    {{field.as_widget}}
                </td>                    
            </tr>
            {% endfor %}            
            <tr>
                <td><input tabindex="19" autofocus="autofocus" type="Submit" value="Save" id="btnSubmit" title="Save Changes" class="myButton"></td>                                
            </tr>	
        </table
    </form>
</div> 
{% endblock main_content %}