<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>List of test users</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            {% for name, id in all_users %}
            <p>
                <a href="{% url 'test_data:login_test' %}/?id={{ id }}">{{ name }}</a> 
            </p>
            {% endfor %}
        </div>
    </body>
</html>
