{% load staticfiles %}
<script src="{% static 'budget/scripts/jquery.min.js' %}"></script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="{% static 'budget/scripts/highcharts.js' %}"></script>
<script src="{% static 'budget/scripts/easyResponsiveTabs.js' %}" type="text/javascript"></script>
<script src="{% static 'budget/scripts/main.js' %}"></script> <!-- Resource jQuery -->
<script src="{% static 'budget/scripts/amcharts.js' %}" type="text/javascript"></script>
<script src="{% static 'budget/scripts/serial.js' %}" type="text/javascript"></script>
<script src="{% static 'budget/scripts/zingchart.min.js' %}"></script>
<script src="{% static 'budget/scripts/zingchart.jquery.js' %}"></script>
<script src="{% static 'budget/scripts/embeded.js' %}"></script>
<script src="{% static 'budget/scripts/sweet-alert.min.js' %}"></script>