{% load staticfiles %}
<link href="{% static 'budget/css/bootstrap.css' %}" rel="stylesheet" type='text/css' />
<link href="{% static 'budget/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'budget/css/fonts.css' %}" rel='stylesheet' type='text/css'>
<link href="{% static 'budget/css/nav.css' %}" rel="stylesheet" type="text/css" media="all"/>
<link href="{% static 'budget/css/embeded.css' %}" rel="stylesheet" type="text/css" media="all"/>
<link href="{% static 'budget/css/sweet-alert.css' %}" rel="stylesheet" type="text/css" media="all"/>
<!--[if !IE]><!-->
    <link href="{% static 'budget/css/table_resp.css' %}" rel="stylesheet" type="text/css" media="all"/>
<!--<![endif]-->